body {
    background-color: black;
}

.container {
    display: flex;
    background-color: rgb(212, 191, 3);
    gap: 10px;
    flex-wrap: wrap;
    height: 100vh;
}

.item {
    width: 200px;
    height: 200px;
    background-color: blue;
    align-self: center;


}

.item1 {
    width: 200px;
    height: 200px;
    background-color: blue;
    flex-basis: 100px;


}